body {
  color: #fff;
}

footer {
  background-color: #2c3e50;
  padding: 80px 0;
}

h2 {
  font-size: 2.3em;
  font-weight: 900;
}

h4 {
  font-size: 1.7em;
  font-weight: 900;
  margin-top: 40px;
}

section {
  padding: 80px 0;
}

.altbg,
.btn,
.jumbotron {
  background-color: #1abc9c;
}

.btn {
  background-color: #1abc9c;
  border-color: #fff;
  font-size: 1.5em;
  padding: 15px;
}

.darktext {
  color: #2c3e50;
}

.lead {
  font-size: 1.2em;
}

.rel {position:relative;}

.whitespace {
  padding-top: 30px;
}

/* END GENERAL RULES */

.navbar-inverse {
  background-color: #313e4f;
}

.navbar-inverse .navbar-brand {
  font-size: 1.4em;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.jumbotron {
  margin-top: 50px;
  margin-bottom: 0;
}

.jumbotron img {
  height: 200px;
}

.jumbotron h1 {
  font-size: 3em;
  font-weight: 900;
}

.jumbotron p {
  color: #fff;
  font-size: 18px;
  display: block;
}

.star {
  min-width: 70px;
  display: inline-block;
}

.star-separator {
  padding-bottom: 20px;
}

.star i {
  font-size: 25px;
  line-height: 2;
}

.star::before,
.star::after {
  content:'';
  width: 100px;
  position: absolute;
  top: 50%;
  display: inline-block;
  border: 2px solid #2c3e50;
}

.star::before {
  left: -100px;
}

.star::after {
  right: -100px;
}

.whitestar.star::before,
.whitestar.star::after {
  border: 2px solid white;
}

.portfolio-img {
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

footer i {
  padding: 10px;
}

footer a,
footer i:hover {
  color: #1abc9c;
}

footer a:hover {
  color: #117964;
}
